@model IEnumerable<_04Data.Data.Tallerista_Categoria_Precio_Sesion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Precio_sesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Tecnica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tallerista.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_sesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Tecnica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tallerista.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
            @Html.ActionLink("Proyectos de este precio", "Index", "Proyectos", new { id = item.id, alumno = false }, null)
        </td>
    </tr>
}

</table>
