@model _04Data.Data.Proyecto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_sesiones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_sesiones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tallerista_Categoria_Precio_Sesion.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tallerista_Categoria_Precio_Sesion.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
